@font-face {
  font-family: "Merriweather-Black";
  src: url("../fonts/Merriweather/Merriweather-Black.ttf") format("truetype"),
      url('merriweather-black-webfont.woff2') format('woff2'),
      url('merriweather-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/Myriad Pro.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

