 //colors
$white: #fff;
$black: #000;
$orange: #e98e19;
$green: #3a9c61;
$brown: #241e18;
$light-brown: #65615d;
$a: #f6f4ef;
$f:#a6a49d;
//fonts
$mb:"Merriweather-Black";
$os:"Open Sans";
$mp:"Myriad Pro";
//font-size
$f48: 4.8rem;
$f36: 3.6rem;
$f24: 2.4rem;
$f22: 2.2rem;
$f20: 2rem;
$f16: 1.6rem;
$f14: 1.4rem;
$f12: 1.2rem;
$f11: 1.1rem;