@keyframes dash{
    0%{
      stroke-dashoffset: 136;
    }
  }
      

@keyframes slide {
    0% {
      clip: rect(0, 0, 20px, 0);
    }
    
    30% {
      clip: rect(0, 80px, 20px, 0);
    }
    
    50% {
      clip: rect(0, 80px, 20px, 0);
    }
    
    80% {
      clip: rect(0, 80px, 20px, 80px);
    }
    
    100% {
      clip: rect(0, 80px, 20px, 80px);
    }
}
  
@keyframes fade {
    0% {
      opacity: 1;
    }
    
    50% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
}

  //Mixins
@mixin basic($height, $width) {
  height: $height;
  width: $width;
}

@mixin indents($margin, $padding) {
  margin: $margin;
  padding: $padding;
}
@mixin position ($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}
@mixin position1 ($position, $bottom, $left) {
  position: $position;
  bottom: $bottom;
  left: $left;
}