.mar-top50{
    margin-top: 5rem;
  }
  
  .mar-top100 {
    margin-top: 10rem;
  }
  
  .mar-bot10 {
    margin-bottom: 1rem;
  }
  
  .mar-bot15 {
    margin-bottom: 1.5rem;
  }
  
  .mar-bot20 {
    margin-bottom: 2rem;
  }
  
  .mar-bot25 {
    margin-bottom: 2.5rem;
  }
  
  .mar-bot35 {
    margin-bottom: 3.5rem;
  }
  
  .mar-bot40{
    margin-bottom: 4rem;
  }
  
  .mar-bot50 {
    margin-bottom: 5rem;
  }
  
  .mar-bot100{
    margin-bottom: 10rem;
  }
  